<!DOCTYPE html>
<html lang="{{ language }}" {% if isRTL %} dir="rtl"{% endif %}>
<head>
    {% block head %}
        <meta charset="{{ charset }}">
        <title>{{ title }}</title>
        <base href="{{ base }}">
        <meta name="robots" content="noindex,nofollow">

        {% block style %}
            <style>

                *,
                *::before,
                *::after {
                    text-shadow: none !important;
                    box-shadow: none !important;
                }

                abbr[title]::after {
                    content: " (" attr(title) ")";
                }

                pre {
                    white-space: pre-wrap !important;
                }

                pre,
                blockquote {
                    border: 1px solid #999;
                    page-break-inside: avoid;
                }

                thead {
                    display: table-header-group;
                }

                tr,
                img {
                    page-break-inside: avoid;
                }

                p,
                h2,
                h3 {
                    orphans: 3;
                    widows: 3;
                }

                h2,
                h3 {
                    page-break-after: avoid;
                }

                @page {
                    size: a3;
                }
            </style>
        {% endblock %}
    {% endblock %}
</head>
<body class="print" onload="{{ onload }}">
{% block body %}
    <div class="item">
        {% for field, value in formatted %}
            <div class="{{ field|lower }}">
                {{ field }}: {{ field == 'dc' ? 'DataContainer' : value }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>
