<!DOCTYPE html>
<html lang="{{ language }}" {% if isRTL %} dir="rtl"{% endif %}>
<head>
{% block head %}
    <meta charset="{{ charset }}">
    <title>{{ title }}</title>
    <base href="{{ base }}">
{% endblock %}
</head>
<body class="pdf">
{% block body %}
    <div class="item">
        {% for field, value in formatted %}
            <div class="{{ field|lower }}">
                {{ field }}: {{ field == 'dc' ? 'DataContainer' : value }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>
