<div class="item">
    {% for field, value in formatted %}
        <div class="{{ field|lower }}">
            {{ field }}: {{ value }}
        </div>
    {% endfor %}
    {% if addOverview|default %}
        <div class="overview">
            <a href="{{ jumpToOverview }}" role="button">{{ jumpToOverviewLabel }}</a>
        </div>
    {% endif %}
</div>