<div class="item">
    {% for field, value in formatted %}
        <div class="{{ field|lower }}">
            {{ field }}: {{ value }}
        </div>
    {% endfor %}
    {% if addOverview|default %}
        <div class="overview">
            <a {% if jumpToOverview|default %}href="{{ jumpToOverview }}"{% else %}onclick="history.go(-1);"{% endif %} role="button">{{ jumpToOverviewLabel }}</a>
        </div>
    {% endif %}
</div>